In [1]:
#Import dependencies
import pandas as pd
import json
from sqlalchemy import create_engine
import psycopg2 as ps

In [2]:
# Read the csv
movie_data = pd.read_csv("./Resources/tmdb_5000_movies.csv")
movie_data.head(2)
credits_data = pd.read_csv("./Resources/tmdb_5000_credits.csv")
credits_data.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [3]:
# Clean the column genres ()
genre = []
for i in range(0,len(movie_data['genres'])):
    try:
        python_dict = json.loads(movie_data["genres"][i])
        genre.append(python_dict[0]['name'])
    except IndexError:
        genre.append(" ")

genres_df = pd.DataFrame(genre)
genres_df.head(2)

           0
0     Action
1  Adventure

In [4]:
# Clean the column production company
production_company = []
for i in range(0,len(movie_data['production_companies'])):
    try:
        python_dict = json.loads(movie_data["production_companies"][i])
        production_company.append(python_dict[0]['name'])
    except IndexError:
        production_company.append(" ")
        
production_company_df = pd.DataFrame(production_company)
production_company_df.head(2)

                         0
0  Ingenious Film Partners
1     Walt Disney Pictures

In [5]:
# Clean the column country
country =[]
for i in range(0,len(movie_data['production_countries'])):
    try:
        python_dict = json.loads(movie_data["production_countries"][i])
        country.append(python_dict[0]['name'])
    except IndexError:
        country.append(" ")
        
country_df = pd.DataFrame(country)
country_df.head(2)

                          0
0  United States of America
1  United States of America

In [6]:
# Clean the column cast
cast1 =[]
for i in range(0,len(credits_data['cast'])):
    try:
        python_dict = json.loads(credits_data["cast"][i])
        cast1.append(python_dict[0]['name'])
    except IndexError:
        cast1.append(" ")
        
cast1_df = pd.DataFrame(cast1)
cast1_df.head(2)

                 0
0  Sam Worthington
1      Johnny Depp

In [7]:

# Clean the column cast
cast2 =[]
for i in range(0,len(credits_data['cast'])):
    try:
        python_dict = json.loads(credits_data["cast"][i])
        cast2.append(python_dict[1]['name'])
    except IndexError:
        cast2.append(" ")

cast2_df = pd.DataFrame(cast2)
cast2_df.head(2)

               0
0    Zoe Saldana
1  Orlando Bloom

In [8]:
# Clean the column cast
cast3 =[]
for i in range(0,len(credits_data['cast'])):
    try:
        python_dict = json.loads(credits_data["cast"][i])
        cast3.append(python_dict[2]['name'])
    except IndexError:
        cast3.append(" ")
        
cast3_df = pd.DataFrame(cast3)
cast3_df.head(2)

                  0
0  Sigourney Weaver
1   Keira Knightley

In [9]:
# Clean the column crew and take the information that we need (Director)
director=[]
for j in range(0,len(credits_data["crew"])):
    try:
        boolean=1
        python_dict = json.loads(credits_data["crew"][j])
        for i in python_dict:
            if i["job"]=="Director" and boolean==1:
                boolean=0
                director.append(i["name"])
    except IndexError:
        director.append(" ")

director_df = pd.DataFrame(director)
director_df.head(5)

                   0
0      James Cameron
1     Gore Verbinski
2         Sam Mendes
3  Christopher Nolan
4     Andrew Stanton

In [10]:
# Clean the column crew and take the information that we need (Director of Photography)
dp=[]
for j in range(0,len(credits_data["crew"])):
    try:
        python_dict = json.loads(credits_data["crew"][j])
        for i in python_dict:
            if i["job"]=="Director of Photography":
                dp.append(i["name"])
    except IndexError:
        dp.append(" ")

dp_df = pd.DataFrame(dp)
dp_df.head(2)

             0
0  Mauro Fiore
1  Chiling Lin

In [11]:
# Clean the column crew and take the information that we need (Writer)
writer=[]
for j in range(0,len(credits_data["crew"])):
    try:
        python_dict = json.loads(credits_data["crew"][j])
        for i in python_dict:
            if i["job"]=="Writer":
                writer.append(i["name"])
    except IndexError:
        writer.append(" ")

writer_df = pd.DataFrame(writer)
writer_df.head(2)

               0
0  James Cameron
1    Joss Whedon

In [12]:
# Clean the column crew and take the information that we need (Producer)
producer=[]
for j in range(0,len(credits_data["crew"])):
    try:
        python_dict = json.loads(credits_data["crew"][j])
        for i in python_dict:
            if i["job"]=="Producer":
                producer.append(i["name"])
    except IndexError:
        producer.append(" ")

producer_df = pd.DataFrame(producer)
producer_df.head(2)

               0
0  James Cameron
1     Jon Landau

In [13]:
# Clean the column crew and take the information that we need (Music Composer)
music_composer=[]
for j in range(0,len(credits_data["crew"])):
    try:
        python_dict = json.loads(credits_data["crew"][j])
        for i in python_dict:
            if i["job"]=="Original Music Composer":
                music_composer.append(i["name"])
    except IndexError:
        music_composer.append(" ")
        
music_composer_df = pd.DataFrame(music_composer)
music_composer_df.head(2)

              0
0  James Horner
1   Hans Zimmer

In [14]:
# Convert both csv to DataFrames
movie_data_df = pd.DataFrame(movie_data)
credits_data_df = pd.DataFrame(credits_data)

In [15]:
# fill rows that don't have information with "NaN"
movie_data_df = movie_data_df.fillna(value="NaN")
movie_data_df.count()

budget                  4803
genres                  4803
homepage                4803
id                      4803
keywords                4803
original_language       4803
original_title          4803
overview                4803
popularity              4803
production_companies    4803
production_countries    4803
release_date            4803
revenue                 4803
runtime                 4803
spoken_languages        4803
status                  4803
tagline                 4803
title                   4803
vote_average            4803
vote_count              4803
dtype: int64

In [16]:
movie_data_df.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [17]:
credits_data_df = credits_data_df.fillna(value="NaN")
credits_data_df.count()

movie_id    4803
title       4803
cast        4803
crew        4803
dtype: int64

In [18]:
credits_data_df.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [19]:
# Add the columns that we need for the analisis
movie_data_df["Genre"] = genres_df
movie_data_df["Production Company"] = production_company_df
movie_data_df["Country"] = country_df
movie_data_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,Genre,Production Company,Country
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Action,Ingenious Film Partners,United States of America
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Adventure,Walt Disney Pictures,United States of America
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Action,Columbia Pictures,United Kingdom
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Action,Legendary Pictures,United States of America
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Action,Walt Disney Pictures,United States of America

In [20]:
# Add the columns that we need for the analisis
credits_data_df["Leading Role"] = cast1_df
credits_data_df["Supporting Role"] = cast2_df
credits_data_df["Supporting Role 2"] = cast3_df
credits_data_df["Director"] = director_df
credits_data_df["Producer"] = producer_df
credits_data_df["DP"] = dp_df
credits_data_df["Writer"] = writer_df
credits_data_df["Music Composer"] = music_composer_df
credits_data_df

,movie_id,title,cast,crew,Leading Role,Supporting Role,Supporting Role 2,Director,Producer,DP,Writer,Music Composer
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",Sam Worthington,Zoe Saldana,Sigourney Weaver,James Cameron,James Cameron,Mauro Fiore,James Cameron,James Horner
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",Johnny Depp,Orlando Bloom,Keira Knightley,Gore Verbinski,Jon Landau,Chiling Lin,Joss Whedon,Hans Zimmer
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",Daniel Craig,Christoph Waltz,Léa Seydoux,Sam Mendes,Jerry Bruckheimer,Dariusz Wolski,Lowell Cunningham,Thomas Newman
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",Christian Bale,Michael Caine,Gary Oldman,Christopher Nolan,Eric McLeod,Hoyte van Hoytema,Peter Jackson,Hans Zimmer
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",Taylor Kitsch,Lynn Collins,Samantha Morton,Andrew Stanton,Chad Oman,Wally Pfister,Fran Walsh,Christopher Young
5,559,Spider-Man 3,"[{""cast_id"": 30, ""character"": ""Peter Parker / ...","[{""credit_id"": ""52fe4252c3a36847f80151a5"", ""de...",Tobey Maguire,Kirsten Dunst,James Franco,Sam Raimi,Peter Kohn,Daniel Mindel,Philippa Boyens,Alan Menken
6,38757,Tangled,"[{""cast_id"": 34, ""character"": ""Flynn Rider (vo...","[{""credit_id"": ""52fe46db9251416c91062101"", ""de...",Zachary Levi,Mandy Moore,Donna Murphy,Byron Howard,Pat Sandston,Bill Pope,Guillermo del Toro,Kevin Kliesch
7,99861,Avengers: Age of Ultron,"[{""cast_id"": 76, ""character"": ""Tony Stark / Ir...","[{""credit_id"": ""55d5f7d4c3a3683e7e0016eb"", ""de...",Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,Joss Whedon,Barbara Broccoli,Ben Davis,John Logan,Danny Elfman
8,767,Harry Potter and the Half-Blood Prince,"[{""cast_id"": 3, ""character"": ""Harry Potter"", ""...","[{""credit_id"": ""52fe4273c3a36847f801fab1"", ""de...",Daniel Radcliffe,Rupert Grint,Emma Watson,David Yates,Michael G. Wilson,Bruno Delbonnel,Robert Wade,Brian Tyler
9,209112,Batman v Superman: Dawn of Justice,"[{""cast_id"": 18, ""character"": ""Bruce Wayne / B...","[{""credit_id"": ""553bf23692514135c8002886"", ""de...",Ben Affleck,Henry Cavill,Gal Gadot,Zack Snyder,Charles Roven,Larry Fong,Neal Purvis,Nicholas Hooper
10,1452,Superman Returns,"[{""cast_id"": 3, ""character"": ""Superman / Clark...","[{""credit_id"": ""553bef6a9251416874003c8f"", ""de...",Brandon Routh,Kevin Spacey,Kate Bosworth,Bryan Singer,Christopher Nolan,Newton Thomas Sigel,John D. Brancato,Hans Zimmer
11,10764,Quantum of Solace,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""52fe43b29251416c7501aa63"", ""de...",Daniel Craig,Olga Kurylenko,Mathieu Amalric,Marc Forster,Emma Thomas,Roberto Schaefer,Michael Ferris,Junkie XL
12,58,Pirates of the Caribbean: Dead Man's Chest,"[{""cast_id"": 37, ""character"": ""Captain Jack Sp...","[{""credit_id"": ""52fe4211c3a36847f8001873"", ""de...",Johnny Depp,Orlando Bloom,Keira Knightley,Gore Verbinski,Colin Wilson,Dariusz Wolski,Chris Morgan,John Ottman
13,57201,The Lone Ranger,"[{""cast_id"": 4, ""character"": ""Tonto"", ""credit_...","[{""credit_id"": ""52fe4928c3a36847f818be95"", ""de...",Johnny Depp,Armie Hammer,William Fichtner,Gore Verbinski,Jim Morris,Bojan Bazelli,Harald Kloser,Hans Zimmer
14,49521,Man of Steel,"[{""cast_id"": 2, ""character"": ""Clark Kent / Kal...","[{""credit_id"": ""52fe4799c3a36847f813e667"", ""de...",Henry Cavill,Amy Adams,Michael Shannon,Zack Snyder,Lindsey Collins,Amir Mokri,Roland Emmerich,Hans Zimmer
15,2454,The Chronicles of Narnia: Prince Caspian,"[{""cast_id"": 1, ""character"": ""Prince Caspian"",...","[{""credit_id"": ""55a239e69251412979002e8b"", ""de...",Ben Barnes,William Moseley,Anna Popplewell,Andrew Adamson,Laura Ziskin,Karl Walter Lindenlaub,Lilly Wachowski,Hans Zimmer
16,24428,The Avengers,"[{""cast_id"": 46, ""character"": ""Tony Stark / Ir...","[{""credit_id"": ""52fe4495c3a368484e02b1cf"", ""de...",Robert Downey Jr.,Chris Evans,Mark Ruffalo,Joss Whedon,Avi Arad,Seamus McGarvey,Lana Wachowski,Harry Gregson-Williams
17,1865,Pirates of the Caribbean: On Stranger Tides,"[{""cast_id"": 15, ""character"": ""Captain Jack Sp...","[{""credit_id"": ""566b4f54c3a3683f56005151"", ""de...",Johnny Depp,Penélope Cruz,Ian McShane,Rob Marshall,Grant Curtis,Dariusz Wolski,John Collee,Alan Silvestri
18,41154,Men in Black 3,"[{""cast_id"": 4, ""character"": ""Agent J"", ""credi...","[{""credit_id"": ""52fe45b7c3a36847f80d68c7"", ""de...",Will Smith,Tommy Lee Jones,Josh Brolin,Barry Sonnenfeld,Roy Conli,Bill Pope,Bryan Singer,Hans Zimmer
19,122917,The Hobbit: The Battle of the Five Armies,"[{""cast_id"": 10, ""character"": ""Bilbo Baggins"",...","[{""credit_id"": ""548ad49a9251414fa20011ab"", ""de...",Martin Freeman,Ian McKellen,Richard Armitage,Peter Jackson,Kevin Feige,Andrew Lesnie,Simon Kinberg,Danny Elfman
20,1930,The Amazing Spider-Man,"[{""cast_id"": 56, ""character"": ""Peter Parker / ...","[{""credit_id"": ""5395a60dc3a368641d004492"", ""de...",Andrew Garfield,Emma Stone,Rhys Ifans,Marc Webb,David Heyman,John Schwartzman,Michael Dougherty,Howard Shore
21,20662,Robin Hood,"[{""cast_id"": 1, ""character"": ""Robin Longstride...","[{""credit_id"": ""52fe43f2c3a368484e0076ad"", ""de...",Russell Crowe,Cate Blanchett,Max von Sydow,Ridley Scott,David Barron,John Mathieson,Dan Harris,James Horner
22,57158,The Hobbit: The Desolation of Smaug,"[{""cast_id"": 3, ""character"": ""Bilbo Baggins"", ...","[{""credit_id"": ""52fe4926c3a36847f818b787"", ""de...",Martin Freeman,Ian McKellen,Richard Armitage,Peter Jackson,Tim Lewis,Andrew Lesnie,Brian Selznick,Marc Streitenfeld
23,2268,The Golden Compass,"[{""cast_id"": 43, ""character"": ""Lyra Belacqua"",...","[{""credit_id"": ""52fe4348c3a36847f8048635"", ""de...",Dakota Blue Richards,Nicole Kidman,Daniel Craig,Chris Weitz,Charles Roven,Henry Braham,David Ayer,Howard Shore
24,254,King Kong,"[{""cast_id"": 5, ""character"": ""Ann Darrow"", ""cr...","[{""credit_id"": ""52fe422ec3a36847f800a1d7"", ""de...",Naomi Watts,Jack Black,Adrien Brody,Peter Jackson,Deborah Snyder,Andrew Lesnie,Mark Bomback,Alexandre Desplat
25,597,Titanic,"[{""cast_id"": 20, ""character"": ""Rose DeWitt Buk...","[{""credit_id"": ""52fe425ac3a36847f8017985"", ""de...",Kate Winslet,Leonardo DiCaprio,Frances Fisher,James Cameron,Jon Peters,Russell Carpenter,Rick Jaffa,James Newton Howard
26,271110,Captain America: Civil War,"[{""cast_id"": 9, ""character"": ""Steve Rogers / C...","[{""credit_id"": ""569443d59251414b67000428"", ""de...",Chris Evans,Robert Downey Jr.,Scarlett Johansson,Anthony Russo,Gilbert Adler,Trent Opaloch,Amanda Silver,David Long
27,44833,Battleship,"[{""cast_id"": 3, ""character"": ""Lieutenant Alex ...","[{""credit_id"": ""52fe469ec3a36847f8108d45"", ""de...",Taylor Kitsch,Alexander Skarsgård,Rihanna,Peter Berg,Bryan Singer,Tobias A. Schliessler,Roland Joffé,Mel Wesson
28,135397,Jurassic World,"[{""cast_id"": 10, ""character"": ""Owen Grady"", ""c...","[{""credit_id"": ""52fe4bf7c3a368484e1a0683"", ""de...",Chris Pratt,Bryce Dallas Howard,Irrfan Khan,Colin Trevorrow,Barbara Broccoli,John Schwartzman,William Steig,James Horner
29,37724,Skyfall,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""52fe46689251416c910537ad"", ""de...",Daniel Craig,Judi Dench,Javier Bardem,Sam Mendes,Michael G. Wilson,Ronald Hersey,Josh Klausner,Henry Jackman
...,...,...,...,...,...,...,...,...,...,...,...,...
4773,2292,Clerks,"[{""cast_id"": 7, ""character"": ""Dante Hicks"", ""c...","[{""credit_id"": ""52fe434ac3a36847f8049253"", ""de...",Brian O'Halloran,Jeff Anderson,Jason Mewes,NaN,Richard Suckle,NaN,NaN,NaN
4774,42497,Pink Narcissus,"[{""cast_id"": 1006, ""character"": ""Pan"", ""credit...","[{""credit_id"": ""52fe4606c3a36847f80e7ed9"", ""de...",Bobby Kendall,Donald L. Brooks,Charles Ludlam,NaN,Gleb Fetisov,NaN,NaN,NaN
4775,33693,Funny Ha Ha,"[{""cast_id"": 1, ""character"": ""Marnie"", ""credit...","[{""credit_id"": ""52fe45309251416c9102a535"", ""de...",Kate Dollenmayer,Mark Herlehy,Christian Rudder,NaN,Oleg Teterin,NaN,NaN,NaN
4776,14585,In the Company of Men,"[{""cast_id"": 1, ""character"": ""Chad"", ""credit_i...","[{""credit_id"": ""52fe46049251416c7506a36b"", ""de...",Aaron Eckhart,Stacy Edwards,Matt Malloy,NaN,Sean S. Cunningham,NaN,NaN,NaN
4777,185465,Manito,"[{""cast_id"": 1, ""character"": ""Junior Moreno"", ...","[{""credit_id"": ""54931bbf925141090e001d32"", ""de...",Franky G,Leo Minaya,Manuel Cabral,NaN,Melissa Parmenter,NaN,NaN,NaN
4778,38780,Rampage,"[{""cast_id"": 1, ""character"": ""Bill Williamson""...","[{""credit_id"": ""52fe46df9251416c91062979"", ""de...",Brendan Fletcher,Shaun Sipos,Michael Paré,NaN,Steve Oedekerk,NaN,NaN,NaN
4779,14022,Slacker,"[{""cast_id"": 1, ""character"": ""Should Have Stay...","[{""credit_id"": ""52fe45c49251416c75061c17"", ""de...",Richard Linklater,Mark James,,NaN,John A. Davis,NaN,NaN,NaN
4780,366967,Dutch Kills,"[{""cast_id"": 4, ""character"": ""Val"", ""credit_id...","[{""credit_id"": ""563d13ec9251414c70007d5e"", ""de...",R.L. Mann,Tama Filianga,Mikaal Bates,NaN,Albie Hecht,NaN,NaN,NaN
4781,255266,Dry Spell,"[{""cast_id"": 4, ""character"": ""Sasha"", ""credit_...","[{""credit_id"": ""52fe4ee39251416c911412e7"", ""de...",Suzi Lorraine,Jared Degado,Heather Dorff,NaN,J.J. Abrams,NaN,NaN,NaN
4782,17345,Flywheel,"[{""cast_id"": 1, ""character"": ""Jay"", ""credit_id...","[{""credit_id"": ""52fe471e9251416c7508e579"", ""de...",Alex Kendrick,,,NaN,Bryan Burk,NaN,NaN,NaN
4783,226458,Backmask,"[{""cast_id"": 3, ""character"": ""Father Conway"", ...","[{""credit_id"": ""554c8351c3a3685e500041f5"", ""de...",Stephen Lang,Kelly Blatz,Brittany Curran,NaN,David Baronoff,NaN,NaN,NaN
4784,24055,The Puffy Chair,"[{""cast_id"": 4, ""character"": ""Josh"", ""credit_i...","[{""credit_id"": ""52fe447fc3a368484e026881"", ""de...",Mark Duplass,Katie Aselton,Rhett Wilkins,NaN,Thomas K. Gray,NaN,NaN,NaN
4785,287625,Stories of Our Lives,"[{""cast_id"": 8, ""character"": """", ""credit_id"": ...","[{""credit_id"": ""549e790a9251414d27003096"", ""de...",Louis Brooke,Allan Bryan Weku,Judy Gichohi,NaN,David Chan,NaN,NaN,NaN
4786,44990,Breaking Upwards,"[{""cast_id"": 1, ""character"": ""Zoe"", ""credit_id...","[{""credit_id"": ""572239efc3a368712a0007db"", ""de...",Zoe Lister-Jones,Daryl Wein,Julie White,NaN,Kim Dawson,NaN,NaN,NaN
4787,86304,All Superheroes Must Die,"[{""cast_id"": 1, ""character"": ""Charge / John"", ...","[{""credit_id"": ""52fe497f9251416c910af3d1"", ""de...",Jason Trost,Lucas Till,James Remar,NaN,Art Linson,NaN,NaN,NaN
4788,692,Pink Flamingos,"[{""cast_id"": 8, ""character"": ""Divine / Babs Jo...","[{""credit_id"": ""52fe426bc3a36847f801d203"", ""de...",Divine,David Lochary,Mary Vivian Pearce,NaN,Joel Coen,NaN,NaN,NaN
4789,39851,Clean,"[{""cast_id"": 1, ""character"": ""Emily Wang"", ""cr...","[{""credit_id"": ""52fe47369251416c9106db9b"", ""de...",Maggie Cheung,Nick Nolte,Béatrice Dalle,NaN,Ethan Coen,NaN,NaN,NaN
4790,13898,The Circle,"[{""cast_id"": 3, ""character"": ""Nargess"", ""credi...","[{""credit_id"": ""52fe45b09251416c7505f189"", ""de...",Nargess Mamizadeh,Maryiam Palvin Almani,Mojgan Faramarzi,NaN,Scott Rudin,NaN,NaN,NaN
4791,157185,Tin Can Man,"[{""cast_id"": 1, ""character"": ""Dave"", ""credit_i...","[{""credit_id"": ""54c7851b925141679100372a"", ""de...",Michael Parle,Emma Eliza Regan,Patrick O'Donnell,NaN,David Diliberto,NaN,NaN,NaN
4792,36095,Cure,"[{""cast_id"": 3, ""character"": ""Kenichi Takabe"",...","[{""credit_id"": ""52fe45cc9251416c9103eb7b"", ""de...",Koji Yakusho,Masato Hagiwara,Tsuyoshi Ujiki,NaN,Ice Cube,NaN,NaN,NaN
4793,182291,On The Downlow,"[{""cast_id"": 1, ""character"": ""Isaac"", ""credit_...","[{""credit_id"": ""548c416392514122ef00197d"", ""de...",Tony Sancho,Michael Cortez,Donato Cruz,NaN,Larry Brezner,NaN,NaN,NaN
4794,286939,Sanctuary: Quite a Conundrum,"[{""cast_id"": 3, ""character"": ""Mimi"", ""credit_i...","[{""credit_id"": ""545f8107c3a3686cbb0041fd"", ""de...",Sasha Ramos,Erin Cline,Emily Rogers,NaN,William Packer,NaN,NaN,NaN
4795,124606,Bang,"[{""cast_id"": 2, ""character"": ""The Girl"", ""cred...","[{""credit_id"": ""52fe4ab0c3a368484e161add"", ""de...",Darling Narita,Peter Greene,Michael Newland,NaN,Matt Alvarez,NaN,NaN,NaN
4796,14337,Primer,"[{""cast_id"": 1, ""character"": ""Aaron"", ""credit_...","[{""credit_id"": ""52fe45e79251416c75066791"", ""de...",Shane Carruth,David Sullivan,Casey Gooden,NaN,Tim Bevan,NaN,NaN,NaN
4797,67238,Cavite,[],"[{""credit_id"": ""52fe475dc3a368484e0c319f"", ""de...",,,,NaN,Eric Fellner,NaN,NaN,NaN
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de...",Carlos Gallardo,Jaime de Hoyos,Peter Marquardt,NaN,Jonathan Cavendish,NaN,NaN,NaN
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de...",Edward Burns,Kerry Bishé,Marsha Dietlein,NaN,David Brown,NaN,NaN,NaN
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de...",Eric Mabius,Kristin Booth,Crystal Lowe,NaN,Mark Cooper,NaN,NaN,NaN
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de...",Daniel Henney,Eliza Coupe,Bill Paxton,NaN,Kit Golden,NaN,NaN,NaN
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de...",Drew Barrymore,Brian Herzlinger,Corey Feldman,NaN,Leslie Holleran,NaN,NaN,NaN

In [21]:
# Delete the columns that we don't need
movie_data_needed = movie_data_df.drop(['genres', 'homepage', 'keywords', 'overview',
              'popularity', 'production_companies', 'status','tagline',
              'original_title', 'production_countries', 'spoken_languages'], axis = 1)
movie_data_needed.head()

,budget,id,original_language,release_date,revenue,runtime,title,vote_average,vote_count,Genre,Production Company,Country
0,237000000,19995,en,2009-12-10,2787965087,162,Avatar,7.2,11800,Action,Ingenious Film Partners,United States of America
1,300000000,285,en,2007-05-19,961000000,169,Pirates of the Caribbean: At World's End,6.9,4500,Adventure,Walt Disney Pictures,United States of America
2,245000000,206647,en,2015-10-26,880674609,148,Spectre,6.3,4466,Action,Columbia Pictures,United Kingdom
3,250000000,49026,en,2012-07-16,1084939099,165,The Dark Knight Rises,7.6,9106,Action,Legendary Pictures,United States of America
4,260000000,49529,en,2012-03-07,284139100,132,John Carter,6.1,2124,Action,Walt Disney Pictures,United States of America

In [22]:
# Delete the columns that we don't need
credits_data_needed = credits_data_df.drop(['cast', 'crew'], axis = 1)
credits_data_needed.head()

,movie_id,title,Leading Role,Supporting Role,Supporting Role 2,Director,Producer,DP,Writer,Music Composer
0,19995,Avatar,Sam Worthington,Zoe Saldana,Sigourney Weaver,James Cameron,James Cameron,Mauro Fiore,James Cameron,James Horner
1,285,Pirates of the Caribbean: At World's End,Johnny Depp,Orlando Bloom,Keira Knightley,Gore Verbinski,Jon Landau,Chiling Lin,Joss Whedon,Hans Zimmer
2,206647,Spectre,Daniel Craig,Christoph Waltz,Léa Seydoux,Sam Mendes,Jerry Bruckheimer,Dariusz Wolski,Lowell Cunningham,Thomas Newman
3,49026,The Dark Knight Rises,Christian Bale,Michael Caine,Gary Oldman,Christopher Nolan,Eric McLeod,Hoyte van Hoytema,Peter Jackson,Hans Zimmer
4,49529,John Carter,Taylor Kitsch,Lynn Collins,Samantha Morton,Andrew Stanton,Chad Oman,Wally Pfister,Fran Walsh,Christopher Young

In [23]:
# Rename columns
Renamed_Movie_Data_df = movie_data_needed.rename(columns = {'budget':'Budget',
                                            'original_language':'Language',
                                            'release_date':'Release_Date',
                                            'revenue':'Revenue',
                                            'runtime':'Runtime',
                                            'title':'Title',
                                            'vote_average':'Rating',
                                            'vote_count':'Vote_Count',
                                            'movie_id':'Movie_ID',
                                            'Production Company':'Production_Company',
                                            })
Renamed_Movie_Data_df.head(2)

,Budget,id,Language,Release_Date,Revenue,Runtime,Title,Rating,Vote_Count,Genre,Production_Company,Country
0,237000000,19995,en,2009-12-10,2787965087,162,Avatar,7.2,11800,Action,Ingenious Film Partners,United States of America
1,300000000,285,en,2007-05-19,961000000,169,Pirates of the Caribbean: At World's End,6.9,4500,Adventure,Walt Disney Pictures,United States of America

In [24]:
Renamed_Credits_Data_df = credits_data_needed.rename(columns = {
    'movie_id':'Movie_ID',
    'title':'Title',
    'Leading Role':'Leading_Role',
    'Supporting Role':'Supporting_Role',
    'Supporting Role 2':'Supporting_Role_2',
    'Music Composer':'Music_Composer'
})
Renamed_Credits_Data_df.head()

,Movie_ID,Title,Leading_Role,Supporting_Role,Supporting_Role_2,Director,Producer,DP,Writer,Music_Composer
0,19995,Avatar,Sam Worthington,Zoe Saldana,Sigourney Weaver,James Cameron,James Cameron,Mauro Fiore,James Cameron,James Horner
1,285,Pirates of the Caribbean: At World's End,Johnny Depp,Orlando Bloom,Keira Knightley,Gore Verbinski,Jon Landau,Chiling Lin,Joss Whedon,Hans Zimmer
2,206647,Spectre,Daniel Craig,Christoph Waltz,Léa Seydoux,Sam Mendes,Jerry Bruckheimer,Dariusz Wolski,Lowell Cunningham,Thomas Newman
3,49026,The Dark Knight Rises,Christian Bale,Michael Caine,Gary Oldman,Christopher Nolan,Eric McLeod,Hoyte van Hoytema,Peter Jackson,Hans Zimmer
4,49529,John Carter,Taylor Kitsch,Lynn Collins,Samantha Morton,Andrew Stanton,Chad Oman,Wally Pfister,Fran Walsh,Christopher Young

In [25]:
# Reorganized the columns
organized_movie_data_df = Renamed_Movie_Data_df[["Title","Production_Company", "Genre","Country","Language","Release_Date",
                             "Runtime", "Budget", "Revenue", "Vote_Count", "Rating"]]
organized_movie_data_df.head(2)

,Title,Production_Company,Genre,Country,Language,Release_Date,Runtime,Budget,Revenue,Vote_Count,Rating
0,Avatar,Ingenious Film Partners,Action,United States of America,en,2009-12-10,162,237000000,2787965087,11800,7.2
1,Pirates of the Caribbean: At World's End,Walt Disney Pictures,Adventure,United States of America,en,2007-05-19,169,300000000,961000000,4500,6.9

In [26]:
organized_credits_data_df = Renamed_Credits_Data_df[["Director","Leading_Role",
                             "Supporting_Role", "Supporting_Role_2", "Producer", "DP", "Writer", "Music_Composer"]]
organized_credits_data_df.head()

,Director,Leading_Role,Supporting_Role,Supporting_Role_2,Producer,DP,Writer,Music_Composer
0,James Cameron,Sam Worthington,Zoe Saldana,Sigourney Weaver,James Cameron,Mauro Fiore,James Cameron,James Horner
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Keira Knightley,Jon Landau,Chiling Lin,Joss Whedon,Hans Zimmer
2,Sam Mendes,Daniel Craig,Christoph Waltz,Léa Seydoux,Jerry Bruckheimer,Dariusz Wolski,Lowell Cunningham,Thomas Newman
3,Christopher Nolan,Christian Bale,Michael Caine,Gary Oldman,Eric McLeod,Hoyte van Hoytema,Peter Jackson,Hans Zimmer
4,Andrew Stanton,Taylor Kitsch,Lynn Collins,Samantha Morton,Chad Oman,Wally Pfister,Fran Walsh,Christopher Young

# Create DataBaseconnection

In [27]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:ximepss030311@localhost:5432/Movies_DB')

In [28]:
import psycopg2

In [29]:
conn=psycopg2.connect(
  database="Movies_DB",
  user="postgres",
  host="localhost",
  password="ximepss030311"
)

In [30]:
import os
os.system("pip install psycopg2")

0

In [31]:
# Confirm tables
engine.table_names()

['MOVIE_DATA', 'Credits_Data']

In [32]:
#cur = conn.cursor()

In [33]:
#Query
#try:
   #connection = psycopg2.connect(
       #database='Movies_DB',
       #user='postgres',
       #host='localhost',
       #password='ximepss030311'
    #)

   #cursor = connection.cursor()
   #postgreSQL_select_Query = 'SELECT * FROM "MOVIE_DATA"'

   ##cursor.execute(postgreSQL_select_Query)
   #print('Selecting rows from mobile table using cursor.fetchall')
   #mobile_records = cursor.fetchmany(5) 
   
   #print(mobile_records[1])
   #for row in mobile_records:
       #print("Id = ", row[0], )
       #print("Model = ", row[1])
       #print("Price  = ", row[2], "\n")

#except (Exception, psycopg2.Error) as error :
    #print ('Error while fetching data from PostgreSQL', error)

#finally:
    #closing database connection.
    #if(connection):
        #cursor.close()
        #connection.close()
        #print('PostgreSQL connection is closed')

In [34]:
import numpy as np

In [35]:
organized_movie_data_df.head(5)

,Title,Production_Company,Genre,Country,Language,Release_Date,Runtime,Budget,Revenue,Vote_Count,Rating
0,Avatar,Ingenious Film Partners,Action,United States of America,en,2009-12-10,162,237000000,2787965087,11800,7.2
1,Pirates of the Caribbean: At World's End,Walt Disney Pictures,Adventure,United States of America,en,2007-05-19,169,300000000,961000000,4500,6.9
2,Spectre,Columbia Pictures,Action,United Kingdom,en,2015-10-26,148,245000000,880674609,4466,6.3
3,The Dark Knight Rises,Legendary Pictures,Action,United States of America,en,2012-07-16,165,250000000,1084939099,9106,7.6
4,John Carter,Walt Disney Pictures,Action,United States of America,en,2012-03-07,132,260000000,284139100,2124,6.1

In [36]:
organized_movie_data_df.dtypes

Title                  object
Production_Company     object
Genre                  object
Country                object
Language               object
Release_Date           object
Runtime                object
Budget                  int64
Revenue                 int64
Vote_Count              int64
Rating                float64
dtype: object

In [37]:
for col in ["Budget","Revenue","Vote_Count","Rating"]:
    organized_movie_data_df[col] = organized_movie_data_df[col].astype(str)

D:\ML\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

# Load DataFrames into database

In [38]:
organized_movie_data_df.to_sql(name = 'MOVIE_DATA', con=engine, if_exists="append",index=True)

IntegrityError: (psycopg2.errors.UniqueViolation) llave duplicada viola restricción de unicidad «MOVIE_DATA_pkey»
DETAIL:  Ya existe la llave (index)=(0).
 [SQL: 'INSERT INTO "MOVIE_DATA" (index, "Title", "Production_Company", "Genre", "Country", "Language", "Release_Date", "Runtime", "Budget", "Revenue", "Vote_Count", "Rating") VALUES (%(index)s, %(Title)s, %(Production_Company)s, %(Genre)s, %(Country)s, %(Language)s, %(Release_Date)s, %(Runtime)s, %(Budget)s, %(Revenue)s, %(Vote_Count)s, %(Rating)s)'] [parameters: ({'index': 0, 'Title': 'Avatar', 'Production_Company': 'Ingenious Film Partners', 'Genre': 'Action', 'Country': 'United States of America', 'Language': 'en', 'Release_Date': '2009-12-10', 'Runtime': 162.0, 'Budget': '237000000', 'Revenue': '2787965087', 'Vote_Count': '11800', 'Rating': '7.2'}, {'index': 1, 'Title': "Pirates of the Caribbean: At World's End", 'Production_Company': 'Walt Disney Pictures', 'Genre': 'Adventure', 'Country': 'United States of America', 'Language': 'en', 'Release_Date': '2007-05-19', 'Runtime': 169.0, 'Budget': '300000000', 'Revenue': '961000000', 'Vote_Count': '4500', 'Rating': '6.9'}, {'index': 2, 'Title': 'Spectre', 'Production_Company': 'Columbia Pictures', 'Genre': 'Action', 'Country': 'United Kingdom', 'Language': 'en', 'Release_Date': '2015-10-26', 'Runtime': 148.0, 'Budget': '245000000', 'Revenue': '880674609', 'Vote_Count': '4466', 'Rating': '6.3'}, {'index': 3, 'Title': 'The Dark Knight Rises', 'Production_Company': 'Legendary Pictures', 'Genre': 'Action', 'Country': 'United States of America', 'Language': 'en', 'Release_Date': '2012-07-16', 'Runtime': 165.0, 'Budget': '250000000', 'Revenue': '1084939099', 'Vote_Count': '9106', 'Rating': '7.6'}, {'index': 4, 'Title': 'John Carter', 'Production_Company': 'Walt Disney Pictures', 'Genre': 'Action', 'Country': 'United States of America', 'Language': 'en', 'Release_Date': '2012-03-07', 'Runtime': 132.0, 'Budget': '260000000', 'Revenue': '284139100', 'Vote_Count': '2124', 'Rating': '6.1'}, {'index': 5, 'Title': 'Spider-Man 3', 'Production_Company': 'Columbia Pictures', 'Genre': 'Fantasy', 'Country': 'United States of America', 'Language': 'en', 'Release_Date': '2007-05-01', 'Runtime': 139.0, 'Budget': '258000000', 'Revenue': '890871626', 'Vote_Count': '3576', 'Rating': '5.9'}, {'index': 6, 'Title': 'Tangled', 'Production_Company': 'Walt Disney Pictures', 'Genre': 'Animation', 'Country': 'United States of America', 'Language': 'en', 'Release_Date': '2010-11-24', 'Runtime': 100.0, 'Budget': '260000000', 'Revenue': '591794936', 'Vote_Count': '3330', 'Rating': '7.4'}, {'index': 7, 'Title': 'Avengers: Age of Ultron', 'Production_Company': 'Marvel Studios', 'Genre': 'Action', 'Country': 'United States of America', 'Language': 'en', 'Release_Date': '2015-04-22', 'Runtime': 141.0, 'Budget': '280000000', 'Revenue': '1405403694', 'Vote_Count': '6767', 'Rating': '7.3'}  ... displaying 10 of 4803 total bound parameter sets ...  {'index': 4801, 'Title': 'Shanghai Calling', 'Production_Company': ' ', 'Genre': ' ', 'Country': 'United States of America', 'Language': 'en', 'Release_Date': '2012-05-03', 'Runtime': 98.0, 'Budget': '0', 'Revenue': '0', 'Vote_Count': '7', 'Rating': '5.7'}, {'index': 4802, 'Title': 'My Date with Drew', 'Production_Company': 'rusty bear entertainment', 'Genre': 'Documentary', 'Country': 'United States of America', 'Language': 'en', 'Release_Date': '2005-08-05', 'Runtime': 90.0, 'Budget': '0', 'Revenue': '0', 'Vote_Count': '16', 'Rating': '6.3'})] (Background on this error at: http://sqlalche.me/e/gkpj)

In [39]:
organized_credits_data_df.to_sql(name = 'Credits_Data', con=engine, if_exists="append",index=True)

IntegrityError: (psycopg2.errors.UniqueViolation) llave duplicada viola restricción de unicidad «Credits_Data_pkey»
DETAIL:  Ya existe la llave (index)=(0).
 [SQL: 'INSERT INTO "Credits_Data" (index, "Director", "Leading_Role", "Supporting_Role", "Supporting_Role_2", "Producer", "DP", "Writer", "Music_Composer") VALUES (%(index)s, %(Director)s, %(Leading_Role)s, %(Supporting_Role)s, %(Supporting_Role_2)s, %(Producer)s, %(DP)s, %(Writer)s, %(Music_Composer)s)'] [parameters: ({'index': 0, 'Director': 'James Cameron', 'Leading_Role': 'Sam Worthington', 'Supporting_Role': 'Zoe Saldana', 'Supporting_Role_2': 'Sigourney Weaver', 'Producer': 'James Cameron', 'DP': 'Mauro Fiore', 'Writer': 'James Cameron', 'Music_Composer': 'James Horner'}, {'index': 1, 'Director': 'Gore Verbinski', 'Leading_Role': 'Johnny Depp', 'Supporting_Role': 'Orlando Bloom', 'Supporting_Role_2': 'Keira Knightley', 'Producer': 'Jon Landau', 'DP': 'Chiling Lin', 'Writer': 'Joss Whedon', 'Music_Composer': 'Hans Zimmer'}, {'index': 2, 'Director': 'Sam Mendes', 'Leading_Role': 'Daniel Craig', 'Supporting_Role': 'Christoph Waltz', 'Supporting_Role_2': 'Léa Seydoux', 'Producer': 'Jerry Bruckheimer', 'DP': 'Dariusz Wolski', 'Writer': 'Lowell Cunningham', 'Music_Composer': 'Thomas Newman'}, {'index': 3, 'Director': 'Christopher Nolan', 'Leading_Role': 'Christian Bale', 'Supporting_Role': 'Michael Caine', 'Supporting_Role_2': 'Gary Oldman', 'Producer': 'Eric McLeod', 'DP': 'Hoyte van Hoytema', 'Writer': 'Peter Jackson', 'Music_Composer': 'Hans Zimmer'}, {'index': 4, 'Director': 'Andrew Stanton', 'Leading_Role': 'Taylor Kitsch', 'Supporting_Role': 'Lynn Collins', 'Supporting_Role_2': 'Samantha Morton', 'Producer': 'Chad Oman', 'DP': 'Wally Pfister', 'Writer': 'Fran Walsh', 'Music_Composer': 'Christopher Young'}, {'index': 5, 'Director': 'Sam Raimi', 'Leading_Role': 'Tobey Maguire', 'Supporting_Role': 'Kirsten Dunst', 'Supporting_Role_2': 'James Franco', 'Producer': 'Peter Kohn', 'DP': 'Daniel Mindel', 'Writer': 'Philippa Boyens', 'Music_Composer': 'Alan Menken'}, {'index': 6, 'Director': 'Byron Howard', 'Leading_Role': 'Zachary Levi', 'Supporting_Role': 'Mandy Moore', 'Supporting_Role_2': 'Donna Murphy', 'Producer': 'Pat Sandston', 'DP': 'Bill Pope', 'Writer': 'Guillermo del Toro', 'Music_Composer': 'Kevin Kliesch'}, {'index': 7, 'Director': 'Joss Whedon', 'Leading_Role': 'Robert Downey Jr.', 'Supporting_Role': 'Chris Hemsworth', 'Supporting_Role_2': 'Mark Ruffalo', 'Producer': 'Barbara Broccoli', 'DP': 'Ben Davis', 'Writer': 'John Logan', 'Music_Composer': 'Danny Elfman'}  ... displaying 10 of 4803 total bound parameter sets ...  {'index': 4801, 'Director': None, 'Leading_Role': 'Daniel Henney', 'Supporting_Role': 'Eliza Coupe', 'Supporting_Role_2': 'Bill Paxton', 'Producer': 'Kit Golden', 'DP': None, 'Writer': None, 'Music_Composer': None}, {'index': 4802, 'Director': None, 'Leading_Role': 'Drew Barrymore', 'Supporting_Role': 'Brian Herzlinger', 'Supporting_Role_2': 'Corey Feldman', 'Producer': 'Leslie Holleran', 'DP': None, 'Writer': None, 'Music_Composer': None})] (Background on this error at: http://sqlalche.me/e/gkpj)